 *{
     margin:0px; 
     padding:0px;
 }
 header {
        background-color: rgb(236, 131, 130);
        width: 100vw;
        align-items: baseline;
        display: flex;
        border: 1px solid black;
        padding: 3%;
        padding-top: 6%;
        
}
ul {
 font-size: x-large;
}
 .nav {
    width:50%;
    justify-content: space-evenly;
    display: flex
 }  

.aboutHTML {
    padding: 2%;
    margin: 1%;
    border: 5px dotted black;
}
.htmlImage {
width: 150px;
height: 150px;
float: left;
}
.htmlinfo{
    width: 100%;
    height: 100%;
}
.aboutCss {
    padding: 2%;
    margin: 1%;
    border: 5px dotted black;
}
.cssImage{
width:95px;
height: 140px;
float: right;
}
.cssinfo {
width: 100%;
height: 100%;
}