*{
    box-sizing: border-box;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
header{
    margin-left: 30px;
    line-height: 100px;
}
h1{
margin-left: 30px;
line-height: 100px;
}
h3{
margin: 0;
margin-top: 20px;
margin-left: 20px;
}
p{
    margin-left: ;
    margin-top: ;
    color: white;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.box{
    flex-direction: column;
    min-height: 200px;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
}
.purple{

}
.blue{

}
.pink{
    
}